/*  RESPONSIVE DESIGN FOR THE MOBILE VERSION */

@media all and (max-width: 1000px) {
  .columns .col_1 {
    flex-basis: 100%;
  }
  .columns .col_2{
      flex-basis: 100%;
  }
  .col_2 .shoeslist .image_list{
      width: 3rem;
      height: 3rem;
  }
  .col_2 .shoeslist .image_list img{
      width: 4rem;
  }
}
